---
import Highlight from "./Highlight.astro";
---

<div id="elevator-pitch">
  <h2 class="text-2xl w-full font-bold mb-2">Elevator Pitch</h2>
  <p class="mb-2">
    I'm Kenji, a <Highlight>3rd year university student</Highlight> at the <Highlight
    >
      University of Manchester
    </Highlight> and I am currently on my placement year, working as a <Highlight
    >
      fullstack software engineer
    </Highlight> at <Highlight>Interact Software</Highlight>.
  </p>
  <p class="mb-2">
    My interests are in the world of web, from <Highlight>
      front end to backend to the cloud
    </Highlight>! I am also openly exploring other domains such as <Highlight>
      AI
    </Highlight> and
    <Highlight>blockchain technologies</Highlight>.
  </p>
  <p>
    Other than that, I also involve myself in a lot of extracurriculars, I am a <Highlight
    >
      Gold Microsoft Learn Student Ambassador
    </Highlight>, an <Highlight>Encode Solana bootcamper</Highlight> and the <Highlight
    >
      tech lead of the Blockchainers society
    </Highlight>.
  </p>
</div>
