---
import Highlight from "./Highlight.astro";
---

<div id="elevator-pitch">
  <h2 class="text-2xl w-full font-bold mb-2">Elevator Pitch</h2>
  <p class="mb-2">
    I'm Kenji, a <Highlight>3rd year university student</Highlight> at the <Highlight
    >
      University of Manchester
    </Highlight> and I had just finished my placement at <Highlight>
      Interact Software
    </Highlight>. Now, I have found myself working in AI and XR alongside <Highlight
    >
      Team Open Smart Glasses
    </Highlight> to augment people with the best productivity tools.
  </p>
  <p class="mb-2">
    My interests are in the world of web, from <Highlight>frontend</Highlight> to
    <Highlight>backend</Highlight> to <Highlight>the cloud</Highlight>! I am
    currently diving more into <Highlight>AI</Highlight> and <Highlight>
      XR
    </Highlight> as I was recently inspired by their groundbreaking advancements
    in their respective fields.
  </p>
  <p>
    Other than that, I also involve myself in a lot of extracurriculars, I am a <Highlight
    >
      Gold Microsoft Learn Student Ambassador
    </Highlight> and a <Highlight>GitHub Campus Expert</Highlight>, empowering
    youths with the power of technology.
  </p>
</div>
