---
import TimelineItem from "../TimelineItem.astro";
import Highlight from "../Highlight.astro";
---

<div id="extracurriculars">
  <h2 class="text-2xl w-full font-bold mb-2">Extracurriculars</h2>
  <TimelineItem
    title="Microsoft Learn Student Ambassador - Gold"
    subtitle="Oct 2021 - Present"
  >
    <li>
      Responsible for hosting events to help students learn new skills and
      technologies related to Microsoft.
    </li>
    <li>
      Led a social impact project team to prototype a medtech idea using Azure
      and .NET
    </li>
    <li>
      <Highlight>Events Organized:</Highlight> Intro to WASM in Rust, Microsoft Student
      Starter Pack, Microsoft Student Summit EMEA Careers Panel
    </li>
  </TimelineItem>
  <TimelineItem
    title="Tech/Event Lead @ Blockchainers UOM"
    subtitle="Sept 2021 - May 2022"
    last
  >
    <li>
      Responsible for organizing events to expose students to blockchain
      technologies.
    </li>
    <li>
      <Highlight>Events Organized:</Highlight> Blockchain 101 Talk, Metaverse 101
      Talk, IBM Blockchain Applications Talk, Blockchainers Hackathon (£4000 prizepool)
    </li>
  </TimelineItem>
</div>
