---
import Highlight from "./Highlight.astro";
import TimelineItem from "./TimelineItem.astro";
---

<div id="work-experience">
  <h2 class="text-2xl w-full font-bold mb-2">Work Experience</h2>
  <TimelineItem
    title="Incoming Software Engineering Summer Analyst @ Goldman Sachs"
    subtitle="Upcoming (June 2023 - Sept 2023)"
  >
    <div class="mb-5"></div>
  </TimelineItem>
  <TimelineItem
    title="Placement Fullstack Software Engineer @ Interact Software"
    subtitle="June 2022 - April 2023"
  >
    <div class="mb-5"></div>
  </TimelineItem>

  <TimelineItem
    title="Spring Intern @ Palantir Technologies"
    subtitle="April 2022 - April 2022"
  >
    <div class="mb-5"></div>
  </TimelineItem>

  <TimelineItem
    title="Student Software Engineer @ Imago Software"
    subtitle="Jan 2022 - May 2022"
    last
  >
   <div class="mb-5"></div>
  </TimelineItem>
</div>
