---
import Highlight from "./Highlight.astro";
import TimelineItem from "./TimelineItem.astro";
---

<div id="work-experience">
  <h2 class="text-2xl w-full font-bold mb-2">Work Experience</h2>
  <TimelineItem
    title="Software Engineering Summer Analyst @ Goldman Sachs"
    subtitle="Upcoming (June 2023 - Sept 2023)"
    spoiler
  >
    <li>🤫🤫🤫</li>
  </TimelineItem>
  <TimelineItem
    title="Placement Fullstack Software Engineer @ Interact Software"
    subtitle="June 2022 - June 2023"
  >
    <li>
      Worked on maintaining and implementing features for Interact's main intranet
      product, an internal tool used to manage deployed intranets, and their digital signage software
    </li>
    <li>
      <Highlight>Skills involved:</Highlight> Vue, .NET, AWS, SqlServer, ElasticSearch,
      Electron, VbScript
    </li>
  </TimelineItem>

  <TimelineItem
    title="Spring Intern @ Palantir Technologies"
    subtitle="April 2022 - April 2022"
  >
    <li>
      Conducted an ethics project on the use of AI and data analytics for early
      diagnosis and providing treatment in healthcare
    </li>
    <li>Learned about how Foundry and Gotham are used in industry</li>
    <li>
      <Highlight>Skills involved:</Highlight> Data Engineering, Data Analytics, AI
      Ethics
    </li>
  </TimelineItem>

  <TimelineItem
    title="Student Software Engineer @ Imago Software"
    subtitle="Jan 2022 - May 2022"
    last
  >
    <li>
      Worked on open sourcing a data preparation tool written by my professors
      and their PHD students
    </li>
    <li>
      <Highlight>Skills involved:</Highlight> A lot of advanced Java Springboot and
      AI transformers concepts
    </li>
  </TimelineItem>
</div>
