---
import Social from "../Social.astro";
import { Icon } from "astro-icon";

const socials = [
  {
    platform: "twitter",
    username: "@KenjiPhang",
    icon: "mdi:twitter",
  },
  {
    platform: "github",
    username: "KenjiPcx",
    icon: "mdi:github",
  },
  {
    platform: "youtube",
    username: "Kensomnia",
    icon: "mdi:youtube",
  },
  {
    platform: "linkedin",
    username: "in/KenjiPhang",
    icon: "mdi:linkedin",
  },
];
---

<footer class="flex flex-col justify-between items-center my-5 md:flex-row">
  <div class="flex items-center font-semibold">
    Kenji Phang | {new Date().getFullYear()} ©
  </div>
  <div class="w-fit mt-1 md:mt-0">
    {
      socials.map((social) => {
        return (
          <Social
            platform={social.platform}
            username={social.username}
            class="ml-2"
          >
            <Icon name={social.icon} size="32" />
          </Social>
        );
      })
    }
  </div>
</footer>

<style>
  svg {
    display: inline;
  }
</style>
