---
import BaseHead from "../components/layout/BaseHead.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";

export interface Props {
  title: string;
  description: string;
}

// import Particles from "astro-particles";
import ParticlesComp from "../components/effects/Particles"


const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="dark:bg-slate-900 dark:text-white">
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register("/service-worker.js")
          .then((registration) => {
            console.log("SW Registered!");
          })
          .catch((error) => {
            console.log("SW Registration Failed");
          });
      } else {
        console.log("Not supported");
      }
    </script>

    <script>
      import { tsParticles } from "tsparticles-engine";
      import { loadFull } from "tsparticles";

      (async () => {
        await loadFull(tsParticles);
      })();
    </script>
    <div class="max-w-screen-lg mx-auto px-5">
      <Header />
      <main class="flex flex-col justify-center items-center my-16">
        <slot />
      </main>
      <Footer />
      <ParticlesComp client:load />
    </div>
  </body>
</html>
