---
import Layout from "../../layouts/Layout.astro";
let title = "Project";

export function getStaticPaths() {}
---

<Layout title={title}>
  <h1>About</h1>
  <p>Learn more about Astro!</p>
</Layout>
