---
import Layout from "../layouts/Layout.astro";
let title = "Contact";
---

<Layout title={title}>
  <h1>Work with me!</h1>
  <p>
    Got an idea you want to implement and you need a dev? Reach out to me
    through emails or my socials
  </p>
</Layout>
